// for Larger Devices
@media screen and (max-width: 1350px) {
    header {
        padding: 10rem;
        overflow: hidden;
    } 
    section {
        padding: 10rem;
    }

    .header-content {
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
        width: 100%;
    
        .left-content {
            padding-left: 4rem;
            padding-right: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    
        .right-content {
            grid-row: 1;
            width: 80%;
            margin: 0 auto;
        }    
    }

    .contact-content  {
        display: grid;
        grid-template-columns: 1fr;

        .left-contact {
            .contact-icons {
                justify-content: center;
                align-items: center;
            }
        }
        
        .right-contact {
            margin-left: 0;
            input {
                margin-bottom: 1rem;
            }
            .input-c-2 {
                display: block;
                :last-child {
                    margin-left: 0;
                }
                .input-text {
                    margin-top: 3rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .portfolios {
        padding: 0 5rem;
        grid-template-columns: repeat(2, 1fr);
        .portfolio {
            img {
                height: 300px;
            }
        }
    }

    .blogs {
        padding: 0 5rem;
        grid-template-columns: repeat(2, 1fr);
        .blog {
            img {
                height: 250px;
            }
        }
    }
}


@media screen and (max-width: 950px) {
    header {
        padding: 5rem;
        overflow: hidden;
    } 
    section {
        padding: 5rem 2rem;
    }

    .header-content {
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
        width: 100%;
    
        .left-content {
            padding-left: 4rem;
            padding-right: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    
        .right-content {
            grid-row: 1;
            width: 80%;
            margin: 0 auto;
        }    
    }

    .contact-content  {
        display: grid;
        grid-template-columns: 1fr;

        .left-contact {
            .contact-icons {
                justify-content: center;
                align-items: center;
            }
        }
        
        .right-contact {
            margin-left: 0;
            input {
                margin-bottom: 1rem;
            }
            .input-c-2 {
                display: block;
                :last-child {
                    margin-left: 0;
                }
                .input-text {
                    margin-top: 3rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .portfolios {
        padding: 0 5rem;
        grid-template-columns: repeat(2, 1fr);
        .portfolio {
            img {
                height: 300px;
            }
        }
    }

    .blogs {
        padding: 0 5rem;
        grid-template-columns: repeat(2, 1fr);
        .blog {
            img {
                height: 250px;
            }
        }
    }
}


@media screen and (max-width: 750px) {
    section {
        padding: 2rem;
        padding-bottom: 5rem;
    }

    header {
        padding: 0;
        // min-height: 150vh;
    }

    .header-content {
        grid-template-columns: 1fr;
        background-color: var(--color-primary);
        // border: 1px solid red;
        .right-content {
            padding: 2rem;
            padding-top: 5rem;
            // border: 1px solid blue;
            grid-row: 1;
            width: 100%;
            margin: 0 auto;
        }
        .left-content {
            padding: 2rem 0;
            padding-top: 0;
            // border: 1px solid blue;
            justify-content: center;
            overflow: hidden;
            // height: 70%;
            .image {
                height: 100%;
            }
        }
    }

    .controls {
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;

        .active-btn {
            background-color: var(--color-red) !important;
            i {
                color: var(--color-white);
            }
        }

        .control {
            margin: 1rem 0.4rem;
            width: 60px;
            height: 60px;
            i {
                font-size: 1.5rem;
            }
        }
    }

    .about-header {
        h2 {
            font-size: 1.5rem;
            font-weight: 700;
        }
        span {
            margin-left: 5px;
        }

        .bg-text {
            display: none;
        }
    }
    .about-container {
        grid-template-columns: 1fr;
        padding: 2rem;

        .about-left {
            h4 {
                text-align: center;
            }
        }
        .about-right {
            .about-btns {
                margin-left: 0;
                margin-top: 2rem;
                a {
                    width: 100%;
                    margin: 10px 0;
                }
            }
        }
    }
    
    .portfolios {
        grid-template-columns: 1fr;
        .portfolio {
            img {
                height: 300px;
            }
        }
    }

    .blogs {
        grid-template-columns: 1fr;
        .blog {
            img {
                height: 250px;
            }
        }
    }

    .contact-content  {
        display: grid;
        grid-template-columns: 1fr;

        .left-contact {
            .contact-icons {
                justify-content: center;
                align-items: center;
            }
        }
        
        .right-contact {
            margin-left: 0;
            input {
                margin-bottom: 1rem;
            }
            .input-c-2 {
                display: block;
                :last-child {
                    margin-left: 0;
                }
                .input-text {
                    margin-top: 3rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

